* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gluten', cursive;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/neda-astani-KWTkd7mHqKE-unsplash.jpg');
  background-size: cover;
  background-position: center;
  animation: effetBackground 5s infinite linear;
}

main {
  flex: 1;
}

@keyframes effetBackground {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
